.container-fluid {
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("../media/sun_god_ra_l.png"), url("../media/sun_god_ra_r.png");
    background-repeat: no-repeat;
    background-position: top left, top right;
    background-size: contain;
}

.row {
    width: 100%;
}

#level, #pause, .quit {
    position: absolute;
    right: 27%;
    color: white;
}

#level {
    top: 5px;
}

#pause {
    top: 25px;
}

.quit {
    top: 45px;
}

#movingParts, #effectCanvas {
    position: absolute;
}