body, html {
    background-color:#fefe99;
    height: 100%;
}
header{
    padding-top:90px;
    padding-bottom:90px;
    text-align:center;
    background:url('../media/egypt_header.jpg') no-repeat center center;
    background-size:cover;
}
header h1,header h2{
    color:white;
}
.background { 
    background-image: url("../media/loginBackground.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    width:30%;
    min-width:250px;
    margin-left:auto;
    margin-right:auto;
}

